body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    height: 710px;
    background-size: cover;
    padding-top: 25px;

}
.half-width{
    width: 43%;
    float: left;
    /* margin: 5% 2%; */

}
.banner-content{
    margin: 10% 0 0 10%;

}
.orange-highlight{
    color: rgb(255, 71, 126);
}
.banner-bttn{
    text-decoration: none;
    padding: 10px 30px;
    background-color:  rgb(255, 71, 126);
    color: white;
    border-radius: 5px;
}
.banner-images{
    width: 80%;
    float: left;
    margin-top: 10%;

}
.biography{
    background-image: url("images/biography-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;;
}
.bio-content{
    margin: 14% 0 0 0;
}
.bio-img-content{
    margin: 8% 0 0 10%;
}
.bio-images{
    width: 80%;
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px ;
    background-position: center;

}
.work-wrap{
    text-align: center;
    margin: 5% 0 0 10%;
}
.latest-work-img{
    width: 28%;
    float: left;
}
.work-img{
    width: 90%;
}
.latest-work-heading{
    text-align: center;
    margin-top: 5%;
}
footer{
    background-image: url("images/footer-bg.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}
.footer-area{
    text-align: center ;
}
h4 {
    margin-bottom: 0;
    font-weight: 500;
}
h5 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;
}
.ceo{
    margin-top: 0;
    font-weight: 300;
}
.mail{
    background-color:  rgb(255, 71, 126);
    width: 50%;
    color: white;
    border-radius: 10px;
    padding: 2px 0px 2px 0;
    margin: 20px 0 0px 25%;
}
.copy-right{
    text-align: center;
}
/* .contact-me{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}
.form{
    font-family: 'Poppins', sans-serif;

}
label{}
input{
    padding: 10px 50% 10px 10px;
}
textarea {
    padding: 30px 44% 0 0;
}
input#button {
    padding: 20px 40px 20px 40px;
} */
